*                       @onegunsamurai
/backend/               @onegunsamurai
/frontend/              @onegunsamurai
/.github/               @onegunsamurai
/Makefile               @onegunsamurai
/scripts/               @onegunsamurai
